<div class="well">
		<a routerLink="/lugares">Lugares</a> / {{title}}
</div>

<div class="container">

	<label for="">Nombre</label>
	<input type="text" class="form-control"/>
	<br>
	<label for="">Email</label>
	<input type="email" class="form-control"/>
	<br>
	<label for="">Nombre</label>
	<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
	<hr>
	<a class="btn btn-primary">Enviar</a>
	<a class="btn btn-default" routerLink="/lugares">Cancelar</a>

  <!-- <div class="row">
    <div class="col-md-8 col-lg-6">

    </div>
    <div class="col-md-4 col-lg-6">
      <h2>etc</h2>
    </div>  
  </div> -->
</div>