<div class="well">
		<a routerLink="/lugares">Lugares</a> / {{lugar.nombre}}
</div>
<agm-map [latitude]="lugar.lat" [longitude]="lugar.lng" [zoom]="14">
  <agm-marker [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>

<div class="container">
	<h2>{{lugar.nombre}} <small>- {{lugar.distancia}} KM</small></h2>
	<hr>
	
	<br>
	<div class="well">
		<p>{{lugar.description}}</p>
		<b>Suscripción: {{lugar.plan}}</b>
	</div>
  <!-- <div class="row">
    <div class="col-md-8 col-lg-6">

    </div>
    <div class="col-md-4 col-lg-6">
      <h2>etc</h2>
    </div>  
  </div> -->
</div>